/* Universal selector - Basic style of entire page */
* {
    background-color: rgb(4, 4, 24);
    color: ghostwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding:  auto 0;
    margin: auto 0;

}

/* Element selector - Padding and centering the header */
header {
    padding: 20px;
    text-align: center;

}

/* Element selector - Styling font and text of h1 */
header h1 {
    display: inline-block;
    font-size: 100px;
    font-family: brush script mt, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px grey;
}

/* Element selector - Styling the layout of header nav unordered list */
header nav ul {
    list-style-type: none;
    padding-top: 15px;
    font-size: 40px;
}

header nav ul li {
    display: inline-block;
    
}

/* Element selector - Styling image to fit page */
img {
    max-width: 100%;
    height: auto;
}

/* Element selector - Section */
section {
    font-size: 25px;
    text-align: center;
    margin: 20px;
}


