* {
    background-color: silver;
    color: rgb(6, 6, 44);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding:  auto 0;
    margin: auto 0;

}

img {
    max-width: 100%;
    height: auto;
}

header {
    padding: 20px;

}

header h1 {
    display: inline-block;
    font-size: 100px;
    font-family: brush script mt, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px ghostwhite;
}

header nav {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

